In [1]:
import numpy as np
import pandas as pd

In [2]:
# creating numpy array
instance_data = np.array([[0, 3], [1, 2], [5, 6], [9, 7], [4, 10]])
# list containing column names
column_names = ['temperature', 'activity']
# creating a dataframe
pandas_dataframe = pd.DataFrame(data=instance_data, columns=column_names)
pandas_dataframe

   temperature  activity
0            0         3
1            1         2
2            5         6
3            9         7
4            4        10

In [3]:
# adding a new column to the Dataframe
pandas_dataframe['adjusted'] = pandas_dataframe['activity'] + 2
pandas_dataframe

   temperature  activity  adjusted
0            0         3         5
1            1         2         4
2            5         6         8
3            9         7         9
4            4        10        12

In [5]:
print('row 0, 1, 2')
print(pandas_dataframe.head(3))
print("row 2")
print(pandas_dataframe.iloc[[2]])
print("row 1, 2, 3")
print(pandas_dataframe[1:4])
print("column = temperature")
print(pandas_dataframe.temperature)

row 0, 1, 2
   temperature  activity  adjusted
0            0         3         5
1            1         2         4
2            5         6         8
row 2
   temperature  activity  adjusted
2            5         6         8
row 1, 2, 3
   temperature  activity  adjusted
1            1         2         4
2            5         6         8
3            9         7         9
column = temperature
0    0
1    1
2    5
3    9
4    4
Name: temperature, dtype: int64

# Task 1: Create a DataFrame
Do the following:

Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

Output the following:

the entire DataFrame

the value in the cell of row #1 of the Eleanor column

Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.

To complete this task, it helps to know the NumPy basics covered in the NumPy UltraQuick Tutorial.

In [13]:
column_names = ["Eleanor", "Chidi", "Tahani", "Jason"]
instance_data = np.random.randint(low=0, high=100, size=(3, 4), dtype="int64")
new_Dataframe = pd.DataFrame(data=instance_data, columns=column_names)
print(new_Dataframe)
print(new_Dataframe.Eleanor[1])
new_Dataframe["Janet"] = new_Dataframe["Tahani"] + new_Dataframe["Jason"]
print(new_Dataframe)

   Eleanor  Chidi  Tahani  Jason
0       29     87      52     78
1       16     64      24     46
2       27     14      69      3
16
   Eleanor  Chidi  Tahani  Jason  Janet
0       29     87      52     78    130
1       16     64      24     46     70
2       27     14      69      3     72

In [16]:
# Creating a reference for new_Dataframe
reference_Dataframe = new_Dataframe

# printing starting value of any cell
print("Starting value of new_Dataframe: %d" % new_Dataframe.Jason[1])
print("Starting value of reference_Dataframe: %d" % reference_Dataframe.Jason[1])

# Modify cell in new_Dataframe
new_Dataframe.at["Jason", 1] = new_Dataframe["Jason"][1] + 5
print("Updated value at that cell in new_Dataframe: %d" % new_Dataframe["Jason"][1])
print("Value at that cell in refernce_Dataframe: %d" % reference_Dataframe["Jason"][1])

# making an independent copy of new_Dataframe
print("Experiment with a true copy:")
copy_of_pandas_dataframe = pandas_dataframe.copy()

# Print the starting value of a particular cell.
print("Starting value of pandas_dataframe: %d" % pandas_dataframe['activity'][1])
print("Starting value of copy_of_pandas_dataframe: %d\n" % copy_of_pandas_dataframe['activity'][1])

# Modify a cell in df.
pandas_dataframe.at[1, 'activity'] = pandas_dataframe['activity'][1] + 3
print("Updated pandas_dataframe: %d" % pandas_dataframe['activity'][1])
print("copy_of_pandas_dataframe does not get updated: %d" % copy_of_pandas_dataframe['activity'][1])

Starting value of new_Dataframe: 46
Starting value of reference_Dataframe: 46
Updated value at that cell in new_Dataframe: 46
Value at that cell in refernce_Dataframe: 46
Experiment with a true copy:
Starting value of pandas_dataframe: 5
Starting value of copy_of_pandas_dataframe: 5

Updated pandas_dataframe: 8
copy_of_pandas_dataframe does not get updated: 5